@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');

body{
    background-image: url('./images/bg.jpeg');
    background-position: center center;
    background-size: 1000px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.paper{
    position: absolute;
    background-image: url('./images/paper.webp');
    background-position: center center;
    background-size: 500px;
    padding: 20px 100px;
    transform: rotateZ(-5deg);
    box-shadow: 1px 15px 20px 0px rgba(0,0,0,0.5) ;
}
.heart{
    position: relative;
    width: 200px;
    height: 200px;
    padding: 0;
    border-radius: 50%;
}
.heart::after{
    content: '';
    background-image: url('https://cdn.pixabay.com/photo/2016/03/31/19/25/cartoon-1294994__340.png');
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background-size: 150px;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.6;
}
.paper.image{
    padding: 10px;
}

.paper.image p {
    font-size: 35px;
}
img{
    max-height: 300px;
    width: 100%;
    user-select: none;
}
p{
    font-family: 'Zeyada';
    font-size: 50px;
    color: rgb(0,0,100);
    opacity: 0.75;
    user-select: none;
    text-wrap: nowrap;
}
